@import "./nav.scss";
@import "./typingSpace.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    font-family:"Questrial", sans-serif;
    color: #efeee8;
    margin: 0;
    padding: 0;
    height:100%;
    /*font-family: 'Roboto', sans-serif;*/
    padding-bottom:400px;
    /*color: #7A7C80;*/
    background: #404040;
}
