
.user-typed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    width: 50vw;
    font-size: 1.2rem; 
    font-family: 'Arial', sans-serif; 
    flex-wrap: wrap; 
  }
  
  .character {
    margin-right: 4px;
    color: black; 
    border-left: solid 2px #404040,
  }
  
  .character.correct {
    color: white; 
  }
  
  .character.incorrect {
    color: red; 
  }
  
  .cursor {
    color: #007bff; 
  }
.holder{
    width: 30px;
    display: inline;
}
.word-container{
  margin: 10px;
}
